<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title>二日酔い対策</title><!--ブラウザのタブのタイトルを指定-->
    <link rel="stylesheet" href="./stylesheets/index.css">
  </head>

<body>
<section id="first-block">
  <div class="title-container">
  </div>
</section>

<%= link_to "新規投稿へ", new_post_path %>
<div class="posts-container">
<h3>Post一覧</h3>
 <div class="posts-main">
  <% @posts.each do |t| %>
    <div class="post">
      <div top-block>
        <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <%= t.image %>
      </div>
      <div center-block>
        <div user-email>
         <%= t.user.email %>
        </div>
        <div way>
         <%= t.way %>
        </div>
        <div time>
         <%= t.time %>
        </div>
      </div>
      <div under-block>
        <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
          <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
              <p>いいねを取り消す</p><%= t.likes.count %>
          <% end %>
        <% else %>
          <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
              <p>いいね</p><%= t.likes.count %>
          <% end %>
        <% end %>
        <% else %>
          <p>いいねの数 = </p><%= t.likes.count %>
        <% end %>
        <%= link_to "詳細へ", post_path(t.id) %>
        <%= link_to "編集する", edit_post_path(t.id) %>
        <%= button_to "削除する", post_path(t.id), method: :delete %>
      </div>
    </div>
  <% end %>
 </div> 
</div>

<div class="start">
<h3>対処法診断</h3>
<a href="#" class="btn-sticky">
<%= link_to "診断を始める", new_perfume_path, class: "link" %>
</a>
</div>
</body>
